server:
  port: 8082

spring:
  application:
    name: animal1
  config:
    import: optional:configserver:${CONFIG_SERVICE_URL:http://localhost:9999}
  datasource:
    url: "jdbc:h2:mem:animaldb"
    driver-class-name: org.h2.Driver
    username: sa
    password:
  h2:
    console:
      enabled: true
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
  rabbitmq:
    host: "localhost"
    port: 5672
    username: "guest"
    password: "guest"
  cloud:
    config:
      enabled: true
    discovery:
      enabled: true
eureka:
  client:
    service-url:
      defaultZone: ${DISCOVERY_SERVICE_URL:http://localhost:8761/eureka/}

management:
  endpoints:
    web:
      exposure:
        include: '*'
