resilience4j.circuitbreaker:
  configs:
    default:
      slidingWindowSize: 10
      permittedNumberOfCallsInHalfOpenState: 2
      failureRateThreshold: 50
      waitDurationInOpenState: 10000

server:
  port: 8888

spring:
  application:
    name: gatewayserver
  config:
    import: optional:configserver:${CONFIG_SERVICE_URL:http://localhost:9999}
  # rabbitmq:
  #   host: "localhost"
  #   port: 5672
  #   username: "guest"
  #   password: "guest"
  cloud:
    config:
      enabled: true
    discovery:
      enabled: true
    gateway:
      discovery:
        locator:
          enabled: false
          lowerCaseServiceId: true
      routes:
        - id: animal-route
          uri: lb://ANIMAL1
          predicates:
            - Path=/api/animals/**
        - id: groupe-route
          uri: lb://GROUPE
          predicates:
            - Path=/api/groupes/**
  security:
    oauth2:
      resourceserver:
        jwt:
          jwk-set-uri: "${KEYCLOAK_URL:http://localhost:8090}/realms/microservices-realm/protocol/openid-connect/certs"

eureka:
  client:
    register-with-eureka: true
    fetchRegistry: true
    service-url:
      defaultZone: ${DISCOVERY_SERVICE_URL:http://localhost:8761/eureka}
  instance:
    prefer-ip-address: true

management:
  endpoints:
    web:
      exposure:
        include: '*'
  endpoint:
    health:
      show-details: always