server:
  port: 8765

spring:
  application:
    name: gatewayserver
  cloud:
    config:
      enabled: false
    discovery:
      enabled: true
    gateway:
      discovery:
        locator:
          enabled: false
          lowerCaseServiceId: true
      routes:
        - id: animal-route
          uri: lb://ANIMAL
          predicates:
            - Path=/api/animals/**
        - id: groupe-route
          uri: lb://GROUPE
          predicates:
            - Path=/api/groupes/**

eureka:
  client:
    service-url:
      defaultZone: 'http://localhost:8761/eureka/'
  instance:
    prefer-ip-address: true

management:
  endpoints:
    web:
      exposure:
        include: '*'
  endpoint:
    gateway:
      access: unrestricted